h2 {
  color: teal;
  background-color: plum;
  /* background-color: purple */
}

button {
  color: magenta;
  background-color: olive;
}  

p {
  color: olive;
  background-color: purple;
}

body {
  background-color: #000;
}