/* * {
    font-family: monospace;
} */

body {
  background-color: rgb(239, 238, 247);
}

button {
  font-size: 20px;
  background-color: rgb(90, 187, 194);
}

h1,
h2 {
  color: darkslateblue;
}

#signUp {
  background-color: forestgreen;
  color: blanchedalmond;
}

span {
  color: chartreuse;
}

.span {
  background-color: deeppink;
  color: deepskyblue;
  font-size: 16px;
}

.post a {
  color: chartreuse;
  text-decoration: none;
}

footer a {
  color: crimson;
}

h2 + button {
  font-size: 30px;
}

footer > a {
  color: #023047;
}

input[type="password"] {
  color: red;
}

/* section[class="post"] {
  background-color: red;
} */

a[href*="google"] {
  color: #023047;
}

.post button:hover {
  background-color: #9d0208;
  color: aliceblue;
}

a:hover {
  text-decoration: black underline;
  /* color: black; */
}

.post button:active {
  background-color: black;
}

.post:nth-of-type(2) {
  background-color: darkblue;
}
.post:nth-of-type(3n) {
  background-color:darkorange;
}

h2::first-letter {
  font-size: 50px;
}

p::first-line{
  color: purple;
}

p::selection{
  background-color: yellow;
}