html {
  font-size: 15px;
}

/* section {
  background-color: #023e8a;
  width: 600px;
  height: 600px;
}

div {
  background-color: #6b705c;
  width: 50%;
  height: 50%;
}

h1 {
  font-size: 40px;
  border: 1px solid black;
  line-height: 200%;
}

article {
  font-size: 15px;
}

h2 {
  font-size: 2em;
  margin-left: 1em;
}

h3 {
  font-size: 1em;
}

button {
  font-size: 1em;
  padding: 0 1em;
  border-radius: 0.5em;
  background-color: #b7b7a4;
  color: white;
}
p {
  font-size: 0.8em;
}

ul {
  font-size: 0.7em;
} */

#rems h2 {
  font-size: 3rem;
}
#rems h3 {
  font-size: 2rem;
}
#rems ul {
  font-size: 1rem;
}

#rems button {
  font-size:2rem
}