$font: "Open Sans", sans-serif;
$align: center;

%starterSection {
  background-color: #003049;
  width: 90%;
  //   height: 500px;
  margin: 0 auto;
  border: 5px solid #003049;
}

%starterDiv {
  width: 200px;
  height: 200px;
  text-align: center;
}

body {
  font-family: $font;
  h1 {
    text-align: $align;
  }
  section#container {
    @extend %starterSection;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    // flex-wrap: wrap;
    div {
      @extend %starterDiv;
      flex-basis: 600px;
      //   max-width: 500px;
      //   flex-grow: 1;0
    }
    div:nth-of-type(1) {
      flex-grow: 1;
      flex-shrink: 1;
    }
    div:nth-last-of-type(1) {
      flex-grow: 2;
      flex-shrink: 0;
    }
  }
}
