<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The home page <%= 5 + 4 %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptate doloribus vero, non autem
        pariatur eum dolorum laborum, a sed est accusantium, laudantium nisi sunt iure illum similique cum perspiciatis!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga aliquid laudantium sed minima, voluptates tempora
        provident deserunt cupiditate consequuntur, neque, architecto debitis dicta blanditiis? Magni ipsam tempore iste
        quasi facere.
    </p>


    <p>fghjmfghjLorem ipsum dolor sit amet consectetur adipisicing elit. Numquam libero porro eaque repudiandae nesciunt expedita
        voluptatem, debitis, non quis omnis quod laborum! Repellendus, quaerat commodi eius consequatur est minima
        labore.</p>
</body>

</html>